<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="BaseUrl" value="https://ucdenver.test.instructure.com/" />
  <add key="CanvasToken" value="1043~FkNmMYxGwu4KnDLu1zmGC4t5C7YHIUpqflldJokBcgoUZxgvRmJammqkSgRK48YR"/>
  <add key="ClientId" value="10430000000000113" />
  <add key="ClientKey" value="FHyrNwpsb77vMT9sYmEbuFWwmIXIEMAyUr8Zq6kMNCvKotHbD3pbMRAz7oo8ynfF" />
  <add key="CanvasAccountId" value="1"/>
</appSettings>