<?xml version="1.0"?>
  <connectionStrings>
    <add name="CourseCleanupContext" connectionString="Data Source=(Local);Initial Catalog=CourseCleanup;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="HangFire" connectionString="Data Source=(local);Inital Catalog=HangFire;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>